<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Product [Chrome]" >
        <parameter name = "selenium.browser" value="chrome"/>
        <classes>
            <class name="myprojects.automation.assignment4.tests.CreateProductTest"/>
        </classes>
    </test>

    <!--Prepare test for firefox and IE browsers-->

</suite>